#{extends 'main.html' /}
#{set title:'About' /}

#{trainermenu id:"trainerabout"/}
<div class="ui two column grid basic middle aligned segment">
	<section class="uiui center aligned middle aligned column">
	  <h1>BMI Tracker
	  </h1>
	  <p>
	    Fill in you assessments week by week and track your BMI. Trainers will comment on your progress and encourage you to keep going. 
	  </p>
	</section>
	<section class = "ui middle aligned centre aligned column">
		<img class="ui image" src="/public/images/sport_icons-01.jpg">
	</section>
</div>